.nav-header{
    position: sticky;
    top: 0;
    height: auto;
    box-shadow: inset 0px -1px 1px var(--secondary-grey);
    background-color: rgba(255,255,255,0.72);
    backdrop-filter: blur(20px);
    z-index: 5;
  }