
.main-view{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 30%;
    border: 1px solid var(--secondary-grey);
    padding: 1rem;
    border-radius: 10px;
    /* background-color: blueviolet; */
}

.main-view-container{
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: burlywood; */
}

.componento-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;   
}

.justify-bw{
    justify-content: space-between;
}

.input-outlined{
    width: 75%;
    padding: 0.8rem 0.6rem;
    border: 1px solid  var(--secondary-grey);
    border-radius: 5px;
}

.input-outlined:hover{
    border: 1px solid  gray;
}

.input-outlined:focus{
    outline: none;
    border: 1px solid var(--primary-maroon);
}

.login-container:hover{
    border: 1px solid gray;
}